/* 主题色，未应用 */
/* 
:root {
    --vp-c-brand-1: #fa05a4;
    --vp-c-brand-2: #a72b2b;
    --vp-c-brand-3: #2ea616;
  }
  
  .dark {
    --vp-c-brand-1: #ffb5e5;
    --vp-c-brand-2: #ffb5e5;
    --vp-c-brand-3: #ffb5e5;
  } 
*/

/*标题颜色*/


h1 {
  color: #FF6A6A;
}

h2 {
  color: #ffa246;
}

h3 {
  color: #87CEFA;
}

/* markdown加粗 */
strong {
  color: #8470FF;
}

/* 文档中的链接 */
.vp-doc a {
  text-decoration: underline !important;
}